*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.gitignore
/README.md
/.idea/codeStyles/Project.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/render.experimental.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/app/.gitignore
/app/build.gradle
/app/proguard-rules.pro
/app/src/androidTest/java/com/example/loginactivation/ExampleInstrumentedTest.java
/app/src/main/AndroidManifest.xml
/app/src/main/java/com/example/loginactivation/Admin_1Activity.java
/app/src/main/java/com/example/loginactivation/Admin_lesson_spisokActivity.java
/app/src/main/java/com/example/loginactivation/Admin_lesson_student_registerActivity.java
/app/src/main/java/com/example/loginactivation/Admin_reg_lessonActivity.java
/app/src/main/java/com/example/loginactivation/Admin_reg_studentsActivity.java
/app/src/main/java/com/example/loginactivation/Admin_reg_teacherActivity.java
/app/src/main/java/com/example/loginactivation/Admin_SpisokActivity.java
/app/src/main/java/com/example/loginactivation/Admin_teacher_spisokActivity.java
/app/src/main/java/com/example/loginactivation/MainActivity.java
/app/src/main/java/com/example/loginactivation/Model.java
/app/src/main/java/com/example/loginactivation/RegisterActivity.java
/app/src/main/java/com/example/loginactivation/service/ApiService.java
/app/src/main/java/com/example/loginactivation/service/ApiUtils.java
/app/src/main/java/com/example/loginactivation/service/AuthenticationInterceptor.java
/app/src/main/java/com/example/loginactivation/service/model/Authentication.java
/app/src/main/java/com/example/loginactivation/service/model/Coach.java
/app/src/main/java/com/example/loginactivation/service/model/GetStudents.java
/app/src/main/java/com/example/loginactivation/service/model/LessonList.java
/app/src/main/java/com/example/loginactivation/service/model/LessonRegister.java
/app/src/main/java/com/example/loginactivation/service/model/Login.java
/app/src/main/java/com/example/loginactivation/service/model/MyModel.java
/app/src/main/java/com/example/loginactivation/service/model/Register2Lesson.java
/app/src/main/java/com/example/loginactivation/service/model/StudentInfo.java
/app/src/main/java/com/example/loginactivation/service/model/StudentPage.java
/app/src/main/java/com/example/loginactivation/service/model/UserInfo.java
/app/src/main/java/com/example/loginactivation/service/model/UserLesson.java
/app/src/main/java/com/example/loginactivation/service/model/UserSave.java
/app/src/main/java/com/example/loginactivation/service/model/Yoklama.java
/app/src/main/java/com/example/loginactivation/service/RetrofitService.java
/app/src/main/java/com/example/loginactivation/Student_page_1Activity.java
/app/src/main/java/com/example/loginactivation/StudentReg.java
/app/src/main/java/com/example/loginactivation/User_page_1.java
/app/src/main/java/com/example/loginactivation/User_page_2.java
/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/app/src/main/res/drawable/back.jpg
/app/src/main/res/drawable/backround.jpg
/app/src/main/res/drawable/button.xml
/app/src/main/res/drawable/edittext_cursor.xml
/app/src/main/res/drawable/ic_add_a_photo_black_24dp.xml
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable/ic_lesson_black_24dp.xml
/app/src/main/res/drawable/ic_lessons_sp_black_24dp.xml
/app/src/main/res/drawable/ic_send_black_24dp.xml
/app/src/main/res/drawable/ic_spisok_black_24dp.xml
/app/src/main/res/drawable/ic_student_black_24dp.xml
/app/src/main/res/drawable/ic_tag_faces_black_24dp.xml
/app/src/main/res/drawable/mainpageback.jpg
/app/src/main/res/drawable/password_logo.png
/app/src/main/res/drawable/photo.xml
/app/src/main/res/drawable/send_button.xml
/app/src/main/res/drawable/user_logo.png
/app/src/main/res/layout/activity_admin_1.xml
/app/src/main/res/layout/activity_admin__spisok.xml
/app/src/main/res/layout/activity_admin_lesson_spisok.xml
/app/src/main/res/layout/activity_admin_lesson_student_register.xml
/app/src/main/res/layout/activity_admin_reg_lesson.xml
/app/src/main/res/layout/activity_admin_reg_students.xml
/app/src/main/res/layout/activity_admin_reg_teacher.xml
/app/src/main/res/layout/activity_admin_teacher_spisok.xml
/app/src/main/res/layout/activity_main.xml
/app/src/main/res/layout/activity_register.xml
/app/src/main/res/layout/activity_studend_page_1.xml
/app/src/main/res/layout/activity_user_page_1.xml
/app/src/main/res/layout/activity_user_page_2.xml
/app/src/main/res/layout/chernoveki.xml
/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/app/src/main/res/mipmap-hdpi/ic_launcher.png
/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
/app/src/main/res/mipmap-mdpi/ic_launcher.png
/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
/app/src/main/res/values/colors.xml
/app/src/main/res/values/strings.xml
/app/src/main/res/values/styles.xml
/app/src/test/java/com/example/loginactivation/ExampleUnitTest.java
/build.gradle
/gradle.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/KBR-KTMU-yoklama/
/KTMU-yoklama-Android-code-/
/settings.gradle
